<section class="module" id="internship">
<div class="container my-5 " >
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>{{head.title}}</h2>
          <h6>{{head.subtitle}}</h6>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 style="margin-left: 1.2rem;">Latest News</h4>
      <ul class="timeline-3">
        <li *ngFor="let job of jobs">
          <a href="#!" class="pl-2">{{ job.company }},</a>
          <a href="#!" class="float-end pl-1">{{ job.period }}</a>
          <p class="mt-3 pl-3" [innerHTML]="job.description"></p>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
