<section id="project">
  <h3 class="headline-boldtext">Project Portofolio</h3>
  <div class="headline-box">
    <div class="contactbox">
      <img class="contactbox-img" src="../../assets/images/project/kidoland.png" alt="photo of author">
    </div>
    <div class="infobox">
      <p class="infobox-boldtext">
        A WEB Marketplace .
            </p>
      <p class="infobox-slimtext">
        Our product, Educa Studio Marketplace, is an innovative online platform tailored to cater to the diverse needs of children, offering a wide array of toys and courses specifically designed for kids. Built upon the robust Laravel and Vue.js frameworks, complemented by the flexibility of jQuery, our platform ensures a seamless and engaging user experience.
      </p>
      <a title="Source Title" target="_blank" href="https://github.com/CyanoCream/Educa-Studio-Marketplace">Source Repository</a>
    </div>
  </div>
</section>
