<section class="module" id="project">
<div class="container my-5 " >
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>{{head.title}}</h2>
          <h6>{{head.subtitle}}</h6>
        </div>
      </div>
    </div>
</div>
  <div class="row ml-5 pl-5">
    <div class="col-md-4 ">
      <div class="card shadow-lg" style="width: 30rem;">
        <img src="../../../assets/images/porto/kidoland.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Landing Page.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card shadow-lg" style="width: 30.5rem;">
        <img src="../../../assets/images/porto/kido2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Page Category.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card shadow-lg" style="width: 30rem;">
        <img src="../../../assets/images/porto/kidocrad.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Page Cart.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-2 pl-2">
  <div class="ml-5 pl-5 mr-5 pr-5 mt-3 ">
    <div class="card">
      <div class="card-header">
        Description
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A WEB Marketplace .</p>
          <p>Our product, Educa Studio Marketplace, is an innovative online platform tailored to cater to the diverse needs of children, offering a wide array of toys and courses specifically designed for kids. Built upon the robust Laravel and Vue.js frameworks, complemented by the flexibility of jQuery, our platform ensures a seamless and engaging user experience.</p>
          <footer class="blockquote-footer"> <a title="Source Title" href="https://github.com/CyanoCream/Educa-Studio-Marketplace">Source Repository</a></footer>
        </blockquote>
      </div>
    </div>
  </div>
  </div>
  <div class="container my-5 " >
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h6>{{escoresheet.title}}</h6>
        </div>
      </div>
    </div>
  </div>  <div class="row ml-5 pl-5">
  <div class="col-md-4 ">
    <div class="card shadow-lg" style="width: 34rem;">
      <img src="../../../assets/images/porto/swaqggergo.png" class="card-img-top"  alt="...">
      <div class="card-body">
        <p class="card-text">Swagger Go.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card shadow-lg" style="width: 30rem;">
      <img src="../../../assets/images/porto/getdata.png" class="card-img-top"  alt="...">
      <div class="card-body">
        <p class="card-text">Get Data Postman.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card shadow-lg" style="width: 30rem;">
      <img src="../../../assets/images/porto/tokenjwt.png" class="card-img-top"  alt="...">
      <div class="card-body">
        <p class="card-text">Generate Token JWT.</p>
      </div>
    </div>
  </div>
</div>
  <div class="ml-2 pl-2">
    <div class="ml-5 pl-5 mr-5 pr-5 mt-3 ">
      <div class="card">
        <div class="card-header">
          Description
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Recording Match Scores.</p>
            <p>Introducing GoAuth, a cutting-edge authentication service developed using the Go programming language. GoAuth prioritizes security, efficiency, and simplicity, providing seamless authentication solutions for modern web applications. Leveraging the power of JWT (JSON Web Token) tokens, GoAuth ensures secure and stateless authentication, enabling developers to build robust and scalable authentication systems with ease..</p>
            <footer class="blockquote-footer"> <a title="Source Title" href="https://github.com/CyanoCream/go-scoresheet">Source Repository</a></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

</section>
